* {
  box-sizing: border-box;
}



.together {
  width: auto;
 }
 
 /* aside h2s */
 .aside h2 {
   color: darkslategrey;
   text-align: center;
   /* margin:3%; */
 }
 
 /* aside h3 */
 .aside h3 {
   color: darkslategrey;
   text-align: center;
   /* margin:3%; */
 }
 
 .big-box h4 {
     color: #ed4005;
     /* margin:3%; */
 }
 
 .big-box h2 {
   color: darkslategrey;
  
   /* margin:3%; */
 }
 
 .aside {
   border: solid red;
 }
 
 .big-box {
   border: solid purple;
   list-style-type: none;
 
 }
 
 .footer-tru-bottom {
   text-align: center;
   background-color: grey;
   border:solid black;
 }
 
 .btn-read {
   border:2px solid #ed4005;
   color: #ed4005;
 }
 
 .main-box {
   text-align: center;
  
 }
 p {
   margin: 2%;
 }

 .box-image {
   width: 100%;
   height: 40%;
   
 }